@media screen and (max-width: 576px) {
  .menu-items {
    display: none;
  }
  section,
  header,
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hamburger {
    display: block;
  }
  .banner {
    padding-left: 0px;
  }
  .banner-btn-container {
    display: flex;
  }
  .banner-container {
    top: 250px;
    left: 1px;
  }
  .banner-container-2 {
    top: 45px;
    left: 195px;
  }
  .footer-container,
  .run-container,
  .healthy-container,
  .bmi-data-container,
  .fitness-container {
    flex-direction: column;
  }
  .healthy-title {
    font-size: 40px;
  }
  .shape {
    font-size: 5rem;
  }
  .healthy-subtitle {
    max-width: 270px;
  }
  .team-images,
  .habit-items,
  .package-card-cotainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-title {
    font-size: 2.5rem;
  }
  .training-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .list-title {
    margin-top: 25px;
  }
  .team-images {
    padding-left: 30px;
  }
  .image-item1 h5 {
    top: 87px;
    left: 27px;
  }
  .image-item3 h5 {
    top: 66px;
    left: 27px;
  }
  .image-item4 h5 {
    top: 66px;
    left: 23px;
  }
  .image-item5 h5 {
    top: 87px;
    left: 27px;
  }
  .image-item6 h5 {
    top: 89px;
    left: 20px;
  }
  .copyright {
    text-align: left;
  }
  .run-container {
    padding: 0px;
  }
  .run-content,
  .run-image,
  .run-btn-container,
  .healthy-content,
  .banner-image,
  .bmi-chart,
  .bmi-calculate {
    width: 100%;
  }
  .bmi-chart,
  .bmi-calculate {
    padding-left: 20px;
  }
  .bmi-top-title {
    font-size: 34px;
    text-align: left;
  }
  .bmi-top-description {
    margin-left: 0px;
    margin-bottom: -60px;
  }
  .bmi-calculate input,
  select {
    width: 170px;
  }
  .bmi-activity > select {
    width: 353px;
  }
  .gender select {
    padding: 12px 91px 12px 13px;
  }
  .run-btn-container {
    text-align: center;
    margin-bottom: 31px;
  }
  .run-content {
    padding: 15px;
  }
  .footer-description {
    font-size: 0.87rem;
  }
  .list-items h2 {
    margin-top: 40px;
  }
  .hr-line {
    margin-top: 35px;
  }
}

/* Responsive design for medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  section,
  header,
  footer {
    padding-left: 30px;
    padding-right: 30px;
  }
  .healthy-container {
    flex-direction: column;
  }
  .healthy-content,
  .banner-image {
    width: 100%;
  }
  .banner-image {
    margin-top: 100px;
  }
  .menu-item {
    padding: 5px 5px;
  }
  .home-menu {
    padding: 5px 18px;
  }
  .training-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .run-image img {
    height: 279px;
  }
  .image-item1 h5 {
    top: 117px;
    left: 40px;
  }
  .image-item3 h5,
  .image-item4 h5,
  .image-item5 h5,
  .image-item4 h5,
  .image-item6 h5 {
    top: 117px;
    left: 50px;
  }
  .bmi-top {
    text-align: left;
  }
  .bmi-top-description {
    margin-left: 0px;
  }
  .banner-container {
    top: 360px;
    left: 128px;
  }
  .banner-box-2 {
    position: absolute;
    top: -60px;
    left: 125px;
  }
  .habit-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .bmi-data-container {
    flex-direction: column;
  }
  .bmi-chart,
  .bmi-calculate {
    width: 100%;
  }
  .team-images {
    grid-template-columns: repeat();
  }
  .bmi-calculate input,
  select {
    width: 349px;
  }
  .bmi-activity > select {
    width: 712px;
  }
  .footer-container {
    flex-direction: column;
  }
  .fitness-container {
    margin-top: 100px;
  }
  .service {
    padding-right: 200px;
  }
}
