@media screen and (max-width: 576px) {
  .menu-items {
    display: none;
  }
  section,
  header,
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hamburger {
    display: block;
  }
  .banner {
    padding-left: 0px;
  }
  .banner-btn-container {
    display: flex;
  }
  .banner-container {
    top: 250px;
    left: -15px;
  }
  .banner-container-2 {
    top: 45px;
    left: 183px;
  }
  .footer-container,
  .run-container,
  .healthy-container,
  .bmi-data-container {
    flex-direction: column;
  }
  .healthy-title {
    font-size: 54px;
  }
  .team-images,
  .habit-items,
  .package-card-cotainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .training-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .list-title {
    margin-top: 25px;
  }
  .team-images {
    padding-left: 30px;
  }
  .image-item1 h5 {
    top: 87px;
    left: 27px;
  }
  .image-item3 h5 {
    top: 66px;
    left: 27px;
  }
  .image-item4 h5 {
    top: 66px;
    left: 23px;
  }
  .image-item5 h5 {
    top: 87px;
    left: 27px;
  }
  .image-item6 h5 {
    top: 89px;
    left: 20px;
  }
  .copyright {
    text-align: left;
  }
  .run-container {
    padding: 0px;
  }
  .run-content,
  .run-image,
  .run-btn-container,
  .healthy-content,
  .banner-image,
  .bmi-chart,
  .bmi-calculate {
    max-width: 100%;
  }
  .bmi-chart,
  .bmi-calculate {
    padding-left: 20px;
  }
  .bmi-top-description {
    margin-left: 17px;
  }
  .bmi-calculate input,
  select {
    padding: 12px 0px 12px 7px;
  }
  .bmi-activity > select {
    min-width: 97%;
  }
  .bmi-activity > select {
    min-width: 97%;
  }
  .gender select {
    padding: 12px 91px 12px 13px;
  }
  .run-btn-container {
    text-align: center;
    margin-bottom: 31px;
  }
  .run-content {
    padding: 15px;
  }
}
