@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Shared styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: rgba(0, 0, 0, 0.971);
  color: white;
}
.primary-color {
  color: #e6533c;
}
.primary-btn {
  padding: 16px 40px 16px 40px;
  color: white;
  font-size: 1.12rem;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  border: none;
  cursor: pointer;
}
header {
  max-width: 1060px;
  margin: 0 auto;
}

/* Navbar related style start here */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 58px;
}
.brand-name {
  font-weight: 800;
  color: #e6533c;
  font-style: italic;
  font-size: 2.25rem;
}
.menu-items {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.164);
  border-radius: 40px;
}
.menu-items a {
  text-decoration: none;
  color: white;
}
.menu-item {
  list-style: none;
  margin: 3px;
  padding: 8px 20px;
  font-size: 1.12rem;
  margin-right: 30px;
}
.home-menu {
  background-color: #e6533c;
  border-radius: 40px;
}
.hamburger i {
  color: white;
}
.hide {
  display: none;
}

/* Navbar related style ends here */

/* Banner related styles start */

.banner {
  margin-top: 80px;
}
.healthy-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.healthy-content,
.banner-image {
  position: relative;
  max-width: 48%;
}
.healthy-title {
  font-size: 78px;
  font-weight: 900;
}
.healthy-subtitle {
  max-width: 500px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 28px;
  margin-bottom: 28px;
}
.banner-download-btn {
  padding: 16px 40px 16px 40px;
  border: 1px solid rgba(255, 255, 255, 0.296);
  border-radius: 42px;
  background: transparent;
  color: white;
  font-size: 1.12rem;
  margin-left: 14px;
  cursor: pointer;
}
.banner-box-circle {
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  border-radius: 100%;
}
.banner-box {
  display: flex;
  max-width: 206px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background: rgba(48, 48, 48, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
.banner-box-title {
  font-size: 1.5rem;
  font-weight: 900;
}
.banner-box {
  padding: 20px 23px;
}
.banner-box-subtitle {
  font-size: 13px;
  color: rgba(239, 237, 232, 0.65);
}
.banner-container {
  position: absolute;
  top: 430px;
  left: -63px;
}
.banner-box-2 {
  width: 180px;
  padding: 20px 23px;
  backdrop-filter: blur(5px);
  background: rgba(48, 48, 48, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
.banner-container-2 {
  position: absolute;
  top: 132px;
  left: 225px;
}

/* Banner related styles end */

/* Habit section related styles start */

.habit {
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 100px;
}
.habit-top {
  text-align: center;
}
.habit-top-title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.habit-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.88rem;
  margin-bottom: 58px;
  line-height: 24px;
}
.habit-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.habit-item img {
  border-radius: 100%;
  margin-bottom: 30px;
}
.habit-title {
  font-size: 1.12rem;
  font-weight: 600;
  margin-bottom: 6px;
}

/* Habit section related styles end */

/* Run section related styles start */
.run {
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}
.run-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 54px;
}
.run-title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.run-description {
  color: rgba(255, 255, 255, 0.5);
  max-width: 443px;
  font-size: 0.88rem;
  margin-bottom: 34px;
}
.run-content,
.run-image {
  max-width: 48%;
}
.run-image img {
  max-width: 366px;
  max-height: 312px;
  border-radius: 18px;
  object-fit: cover;
}
.run-btn-container {
  text-align: left;
}
/* Run section related styles end */

/* Package related styles start here */

.package {
  max-width: 1060px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.package-card-cotainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.package-card {
  border: 1px solid #dddddd84;
  border-radius: 8px;
}

.package-card img {
  max-width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.package-card hr {
  margin-top: 30px;
}
.package-content {
  margin-left: 15px;
}
.package-top-title h1 {
  text-align: left;
  margin-bottom: 50px;
  font-size: 40px;
}
.package-title {
  margin-top: 30px;
  margin-bottom: 10px;
}
.package-subtitle {
  font-weight: 300;
  margin-bottom: 30px;
  font-style: italic;
}
.package-list li {
  list-style: circle;
  line-height: 40px;
  margin-left: 15px;
}
.card-bottom-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 25px;
}
.card-year {
  font-style: italic;
  opacity: 0.7;
}

/* Package related styles end here */

/* BMI section related style start */

.bmi-top {
  text-align: center;
}
.bmi-top-title {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 14px;
}
.bmi-top-description {
  font-size: 0.88rem;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 584px;
  line-height: 24px;
  text-align: left;
}
.bmi-chart-title {
  font-size: 1.75rem;
  font-weight: 900;
}
.bmi-wrapper-main {
  background: rgb(34, 34, 34);
}
.bmi-wrapper {
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 100px;
}
.table {
  border-collapse: collapse;
  margin-top: 42px;
}
th,
td {
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.085);
  padding: 15px;
}
td {
  color: rgba(255, 255, 255, 0.5);
}
.bmi-data-container {
  display: flex;
  justify-content: space-between;
}
.bmi-calculate-title {
  font-size: 28px;
  font-weight: 900;
}
.bmi-calculate-description {
  font-size: 0.88rem;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 34px;
  margin-top: 14px;
  line-height: 24px;
}
.input-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bmi-calculate input,
select {
  padding: 12px 68px 12px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  border: none;
  margin-right: 12px;
  margin-bottom: 12px;
  outline: none;
}
.gender select {
  padding: 12px 164px 12px 20px;
}
.bmi-chart,
.bmi-calculate {
  max-width: 50%;
  margin-top: 52px;
}
.bmi-activity {
  max-width: 516px;
  margin-bottom: 10px;
}
.bmi-activity > select {
  min-width: 100%;
}

.calculate-btn {
  margin-bottom: 52px;
}

/* BMI section related style end */

/* Team section related styles start */

.team {
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 88px;
}
.team-top {
  text-align: center;
}
.team-title {
  font-size: 48px;
  font-weight: 900;
}
.team-subtitle {
  font-size: 0.88rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 14px;
  margin-bottom: 58px;
}
.team-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
}
.team-card {
  position: relative;
}
.team-image {
  width: 326px;
  height: 272px;
}
.team-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}
.team-image-content {
  position: absolute;
  top: 223px;
  left: 19px;
}
.team-image-name {
  font-weight: 700;
}
.team-image-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.78rem;
  font-weight: 300;
}

/* Team section related styles end */

/* Footer related style start here */

footer {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 88px;
}
.footer-wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding-top: 66px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-brand {
  font-size: 4.25rem;
  font-weight: 800;
  color: rgb(230, 83, 60);
  font-style: italic;
  margin-bottom: 20px;
}
.footer-description {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 0.88rem;
  line-height: 24px;
}
.list-items h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 39px;
}
.list-items a {
  text-decoration: none;
}
.list-items li {
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

.hr-line {
  margin-top: 79px;
  margin-bottom: 36px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  padding-bottom: 35px;
}

/* Footer related style end here */

/* Responsive Related Styles Here */
