@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Shared styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: rgba(0, 0, 0, 0.971);
  width: 1060px;
  margin: 0 auto;
  color: white;
}
.primary-color {
  color: #e6533c;
}
.primary-btn {
  padding: 16px 40px 16px 40px;
  color: white;
  font-size: 1.12rem;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  border: none;
  cursor: pointer;
}

/* Navbar related style start here */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 58px;
}
.brand-name {
  font-weight: 800;
  color: #e6533c;
  font-style: italic;
  font-size: 2.25rem;
}
.menu-items {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.164);
  border-radius: 40px;
}
.menu-items a {
  text-decoration: none;
  color: white;
}
.menu-item {
  list-style: none;
  margin: 3px;
  padding: 8px 20px;
  font-size: 1.12rem;
  margin-right: 30px;
}
.home-menu {
  background-color: #e6533c;
  border-radius: 40px;
}
.hamburger i {
  color: white;
}
.hide {
  display: none;
}

/* Navbar related style ends here */

/* Banner related styles start */

.banner {
  margin-top: 80px;
}
.healthy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.healthy-content,
.banner-image {
  position: relative;
  max-width: 48%;
}
.healthy-title {
  font-size: 78px;
  font-weight: 900;
}
.healthy-subtitle {
  max-width: 500px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 28px;
  margin-bottom: 28px;
}
.banner-download-btn {
  padding: 16px 40px 16px 40px;
  border: 1px solid rgba(255, 255, 255, 0.296);
  border-radius: 42px;
  background: transparent;
  color: white;
  font-size: 1.12rem;
  margin-left: 14px;
  cursor: pointer;
}
.banner-box-circle {
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  border-radius: 100%;
}
.banner-box {
  display: flex;
  width: 206px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background: rgba(48, 48, 48, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
.banner-box-title {
  font-size: 1.5rem;
  font-weight: 900;
}
.banner-box {
  padding: 20px 23px;
}
.banner-box-subtitle {
  color: rgba(239, 237, 232, 0.65);
}
.banner-container {
  position: absolute;
  top: 425px;
  left: -113px;
}
.banner-box-2 {
  width: 206px;
  padding: 20px 23px;
  backdrop-filter: blur(5px);
  background: rgba(48, 48, 48, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
.banner-container-2 {
  position: absolute;
  top: 132px;
  left: 225px;
}

/* Banner related styles end */

/* Habit section related styles start */

.habit {
  margin-top: 100px;
}
.habit-top {
  text-align: center;
}
.habit-top-title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.habit-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.88rem;
  margin-bottom: 58px;
  line-height: 24px;
}
.habit-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.habit-item img {
  border-radius: 100%;
  margin-bottom: 30px;
}
.habit-title {
  font-size: 1.12rem;
  font-weight: 600;
  margin-bottom: 6px;
}

/* Habit section related styles end */

/* Run section related styles start */
.run {
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}
.run-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 54px;
}
.run-title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.run-description {
  color: rgba(255, 255, 255, 0.5);
  max-width: 443px;
  font-size: 0.88rem;
  margin-bottom: 34px;
}
.run-content,
.run-image {
  max-width: 48%;
}
.run-image img {
  width: 366px;
  height: 312px;
  border-radius: 18px;
  object-fit: cover;
}

/* Run section related styles end */

/* BMI section related style start */

.bmi-top {
  text-align: center;
}
.bmi-top-title {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 14px;
}
.bmi-top-description {
  font-size: 0.88rem;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 355px;
  line-height: 24px;
  text-align: left;
}
.bmi-chart-title {
  font-size: 1.75rem;
  font-weight: 900;
}
.bmi-wrapper {
  margin-top: 140px;
  background: rgb(34, 34, 34);
}
.bmi-data-container {
  padding: 52px 189px;
}
.table {
  border-collapse: collapse;
  margin-top: 42px;
}
.bmi-chart {
  margin-left: 189px;
}
th,
td {
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.085);
  padding: 15px;
}
td {
  color: rgba(255, 255, 255, 0.5);
}
/* BMI section related style end */

/* Responsive Related Styles Here */

@media screen and (max-width: 576px) {
  body {
    padding-left: 60px;
    padding-right: 60px;
  }
  .brand-name {
    font-size: 7.25rem;
  }
  .hamburger > i {
    font-size: 4.25rem;
  }
  .menu-items {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .healthy-container {
    flex-direction: column;
    align-items: start;
  }
  .healthy-content,
  .banner-image {
    max-width: 100%;
  }
  .healthy-title {
    font-size: 120px;
  }
}
